[Unit]
Description=Omarchpods Core Service
Documentation=https://github.com/steam3d/MagicPodsCore
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/omarchpods
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target

