ApplicationHeader {
    width: 100%;
    content-align: center middle;
    text-align: center;
    color: $accent;
    border-bottom: solid $border;
}

OutputSelector {
    width: 100%;
    height: auto;
    border-top: solid $border;
    padding: 0;
}

OutputSelector #output-buttons-container {
    width: 100%;
    height: auto;
    padding: 0;
}

OutputSelector OutputButton {
    margin-right: 1;
    width: auto;
    min-width: 10;
}

OutputSelector .output-button-active {
    background: $success;
}

OutputSelector .output-button-inactive {
    background: $panel;
}

VolumeController {
    width: 100%;
    height: auto;
    border-bottom: solid $border;
    border-top: solid $border;
}

VolumeController VolumeSlider {
    text-style: bold;
    color: $success;
}

ToggleConnectionButton {
    width: 100%;
}

Sidebar {
    width: 30;
    border-right: solid $border;
}

.sidebar-header {
    padding: 1;
    margin-bottom: 1;
    background: $boost;
}

#device-list {
    width: 100%;
    height: auto;
}

Sidebar Device {
    width: 100%;
    margin-bottom: 1;
    text-align: left;
}

#device {
    width: 100%;
    height: 100%;
}

.content-message {
    padding: 2;
    background: $panel;
}

.device-title {
    text-style: bold;
    padding: 1;
    background: $boost;
    margin-bottom: 1;
}

.anc-switch {
    margin-right: 1;
    width: auto;
    min-width: 10;
}

.anc-switch-active {
    background: $success;
}

.anc-switch-inactive {
    background: $panel;
}

