#ascii-header {
    width: 100%;
    height: auto;
    content-align: center middle;
    text-align: center;
    color: $accent;
    padding: 1;
    border-bottom: solid $border;
}

#global-volume {
    width: 100%;
    height: auto;
    padding: 1;
    border-bottom: solid $border;
    border-top: solid $border;
    text-style: bold;
}

#global-volume VolumeSlider {
    text-style: bold;
    color: $success;
}

Sidebar {
    width: 30;
    border-right: solid $border;
}

.sidebar-header {
    padding: 1;
    margin-bottom: 1;
    background: $boost;
}

#device-list {
    width: 100%;
    height: auto;
}

.device-button {
    width: 100%;
    margin-bottom: 1;
    text-align: left;
}

#device {
    width: 100%;
    height: 100%;
}

.content-message {
    padding: 2;
    background: $panel;
}

.device-title {
    text-style: bold;
    padding: 1;
    background: $boost;
    margin-bottom: 1;
}

.device-status {
    padding: 1;
    margin-bottom: 1;
}

.anc-switch {
    margin-right: 1;
    width: auto;
    min-width: 10;
}

.anc-switch-active {
    background: $success;
}

.anc-switch-inactive {
    background: $panel;
}

